name: Job Portal Full Stack Deploy

on:
  workflow_run:
    workflows: ["Job Portal Client CI", "Job Portal Server CI"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      # -------------------------
      # SETUP SSH
      # -------------------------
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      # -------------------------
      # DEPLOY CLIENT + SERVER
      # -------------------------
      - name: Deploy Client + Server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "bash -l -c '
            set -e
            set -x

            # -------------------------
            # Load NVM
            # -------------------------
            export NVM_DIR=\"$HOME/.nvm\"
            [ -s \"$NVM_DIR/nvm.sh\" ] && \. \"$NVM_DIR/nvm.sh\"
            [ -s \"$NVM_DIR/bash_completion\" ] && \. \"$NVM_DIR/bash_completion\"

            NODE_BIN=\$NVM_DIR/versions/node/v22.22.0/bin/node
            NPM_BIN=\$NVM_DIR/versions/node/v22.22.0/bin/npm
            PM2_BIN=\$NVM_DIR/versions/node/v22.22.0/bin/pm2

            # -------------------------
            # Client (Frontend)
            # -------------------------
            cd /var/www/job-portal/client
            \$NPM_BIN i
            \$NPM_BIN run build

            # -------------------------
            # Server (Backend)
            # -------------------------
            cd /var/www/job-portal/server
            \$NPM_BIN ci --production

            # -------------------------
            # PM2 reload
            # -------------------------
            \$PM2_BIN start index.js --name job-portal-server --update-env || \$PM2_BIN reload job-portal-server --update-env
          '"
